{% extends "header.html" %}

{% block content %}%}

 <div class="Welcome">Welcome to my notes pages! Look around, enjoy and feel free to comment!
      </div>

<form>
	<h2>Your name</h2>
	<input type="text" name="name">
	{% if items %}
		{% for item in items %}
			<input type="hidden" name="name" value="{{item}}">
		{% endfor %}
	{% endif %}
	<button>Add</button>

	{% if items 	<br>
	<br>
	<h2>Names</h2>
	<ul>
		{% for item in items %}
			<li>{{item}}</li>
		{% endfor %}
	</ul>
	{% endif %}

</form>
{% endblock %}
