{% extends "header.html" %}

{% block content %}
<div class="stage 1">
      <u><h2>Stage 1</h2></u>
    </div>
    <div class="Trees">
      <br>
      <div class="topic"><b>Tree like structure of HTML</b>
        <br>
      </div>
      <div class="text">HTML is structure a bit like a family tree. My parents had two kids, so there are two boxes underneath my parents box.
        <br> This forms the boxes of the webpage, which is the frame upon which all things on the web are hung. </div>
    </div>
    <div class="Boxes">
      <br>
      <div class="topic"><b>Boxes, not Tubes</b>
        <br>
      </div>
      <div class="text">Everything on the web has a box that it fits into, and these boxes can be moved about on the page like pictures in a scrapbook.
        <br> There is an invisible grid that can be manipulated so make your HTML page look how you want it to look. </div>
    </div>
    <div class="CSS">
      <br>
      <div class="topic"><b>CSS</b>
        <br>
      </div>
      <div class="text">CSS stands for Cascading Style Sheets, which give coders a great way to control how their webpage looks.
        <br> By giving similar HTML elements the same class name, the CSS can tell the HTML what style it should use on that class.
        <br>
        <br>
        <br>
      </div>
    </div>
    {% endblock %}
