{% extends "header.html" %}

{% block content %}
<div class="stage 0">
      <u><h2>Stage 0</h2></u>
    </div>
    <div class="Important Concepts">
      <div class="topic"><b>Important Concepts</b>
        <br>
      </div>
      <div class="text">The World Wide Web started early in the 1990s and has grown exponentially since then.
        <br> The Web consists of HTML documents, where hyperlinks connect the pages like a web.
        <br> HTML or hypertext markup language is the code that runs webpages like this one.
        <br> When a person goes to a web page like <a href="www.google.com">Google</a>, their computer sends an HTTP request to a server.
        <br> The server finds the right HTML document, and sends it back to the person's computer to be displayed.
        <br>
      </div>
    </div>

    <div class="Tags">
      <br>
      <div class="topic"><b>Tags</b>
        <br>
      </div>
      <div class="text">Tags are bits of HTML code that instruct the computer on what to do.
        <br> Many tags have an opening tag and a closing tag, but there are a expections to this rule, such as the
        <br> tag for a line break.
        <br> Tags tell the computer how an HTML document should look.
        <br>
      </div>
    </div>

    <div class="elements">
      <br>
      <div class="topic"><b>Inline or Block elements</b>
        <br>
      </div>
      <div class="text">Some HTML elements are known as inline because the formatting they create
        <br> appears inline with the text. Other elemetns are block elements because they make
        <br> an invisible box around the content that is placed inside the tags.
        <br>
        <br>
      </div>
    </div>
    <div class="Computers are dumb">
      <div class="topic"><b>Computers need to be told</b>
        <br>
      </div>
      <div class="text">Computers are stupid in that they need very specific instructions to know what to do.
        <br> They literally take everything literally.
        <br>
      </div>
    </div>
    {% endblock %}
